<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="clear-fix six columns">
                <p class="copyright">©2016 Cherry Wang</p>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <ul class="social-media-list">
                    <li><a href="mailto:chryw@catenology.com?Subject=Hello" target="_top"><span class="fa fa-envelope-o"></span></a></li>
                    <li><a href="https://www.linkedin.com/in/cherryw"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="https://twitter.com/chryw"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://github.com/chryw/"><span class="fa fa-github"></span></a></li>
                    <li><a href="http://codepen.io/chryw/"><span class="fa fa-codepen"></span></a></li>
                    <li><a href="https://www.behance.net/chryw"><span class="fa fa-behance"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
