<div class="container">
<header class="site-header">
    <a class="link site-title" href="{{ site.baseurl }}/"><span class="long-line-block">Cherry Wang</span><span class="long-line-divider"> - </span><span class="long-line-block">Web Developer | IA | UX</span></a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <span class="fa fa-bars"></span>
      </a>

      <div class="trigger">
          <a class="link page-link" href="{{ site.baseurl }}/">Home</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="link page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
</header>
</div>
