.post-list {
    margin-left: -40px;
    list-style: none;
    width: 100%;
    & > li {
        margin-bottom: $spacing-unit;
    }
}
@media (min-width: $breakpoint-md) {
    .post-list {
        & > li {
            display: inline-block;
            float: left;
            width: 50%;
        }
    }
    .post-list-item {
      padding: 1em;
    }
    .post-thumbnail {
      display: block;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $color-grey;
}
.post-link {
    display: block;
    vertical-align: bottom;
}
.post-excerpt {
    display: block;
    height: 4em;
    font-size: $small-font-size;
}
