.post-list {
    margin-left: -40px;
    list-style: none;
    width: 100%;
    & > li {
        margin-bottom: $spacing-unit;
    }
}
@media (min-width: $breakpoint-md) {
    .post-list {
        & > li {
            display: inline-block;
            float: left;
            width: 50%;
            height: 480px;
            overflow: hidden;
        }
    }
    .post-list-item {
      padding: 1em;
    }
    .post-thumbnail {
      display: block;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $color-grey;
}
.post-link {
    display: block;
    vertical-align: bottom;
    @include link-default($color-brand);
}
.post-excerpt {
    display: block;
    height: 4em;
    font-size: $small-font-size;
}

.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($breakpoint-md) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($breakpoint-md) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($breakpoint-md) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($breakpoint-md) {
            font-size: 18px;
        }
    }
    a {
      @include link-default($color-brand);
    }
}
