.site-header {
    border-top: 2px solid $color-brand-light;
    // Positioning context for the mobile navigation icon
    position: relative;
    padding-top: 1em;
    &,&:visited {
      color: $color-brand-light;
    }
    .site-title {
      font-size: 2em;
      font-weight: 400;
        @include media-query($breakpoint-sm) {
          font-size: 1.5em;
        }
    }
}


.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $color-charcoal;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($breakpoint-sm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $color-offwhite;
        border: 1px solid darken($color-offwhite, 20%);
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 24px;
            height: 24px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            .fa {
                color: $color-grey-dark;
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
